.profile {
  max-width: 880px;
  margin: 0 auto 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 907px) {
  .profile {
    width: calc(100% - 38px);
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    gap: 34px;
    margin-bottom: 36px;
  }
}
