.element__delete-button {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/delete-element-button.svg);
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.5s linear;
}

.element__delete-button:hover {
  opacity: 0.6;
}
